
********* HEADER *************

#nav-header {
  background-color: #FFB4B0;
  padding: 15px;
  display: block;
  background-color: blue;
}

header nav div {
  display: inline-block;
  padding: 0px 20px; 
}


#dealbreakersDiv {
	background-color: blue;
}

#profileView {
	background-color: pink;
}

#id1 {
	width: 100%;
}