.realImage {
	width: 250px;
	height: 250px;
}

.dealBreakerOverlay {
	
	transform: rotate(335deg);
	color: red;
	font-size: 3em;
	margin-top: 35% 
}

button {
	margin: 0px 37.5%;
}

.row {
	margin: 2% 0%;
}

