/********** navBar **************/

/********** HEADER **************/

header {
  background-color: lightgray;
  padding: 15px;
  display: block;
}

header div {
  display:inline-block;
  padding: 0px 20px;
}


.realImage {
	width: 250px;
	height: 250px;
	display: inline-block;
}

.textDiv {
	position: absolute;
	bottom: 7em;
}

.imgDiv{
	position: relative;
}

.dealBreakerOverlay {
	
	transform:rotate(335deg);
	color: red;
	font-size: 3em;
}

button {
	display: block;
}

.row {
	margin: 2% 0%;
}

.tileContent {
	display: inline-block;
	margin: 2%;
	border: 2px solid black;
	position: relative;
}

// div {
// 	height: 100%;
// }